* {
  font-family: 'Poppins', system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1050px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 18px 0px;
}

.nav-list {
  display: flex;
}

.list-item {
  list-style: none;
  list-style-type: none;
  margin-left: 30px;
}

.list-item a {
  color: #000;
  text-decoration: none;
}

#fundraiser-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#fundraiser-list div {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  perspective: 1000px;
}

#fundraiser-list div:hover {
  transform: rotateY(10deg) rotateX(10deg);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

#fundraiser-list h2 {
  font-size: 20px;
  margin-bottom: 14px;
}

#fundraiser-list p {
  font-size: 14px;
  margin: 8px 0;
}

button {
  background-color: #000;
  color: white;
  padding: 10px;
  border: none;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.hero-content {
  max-width: 550px;
}

.hero-content h1 {
  line-height: 35px;
  margin-bottom: 12px;
}

.fundraiser-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fundraiser-container h2 {
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 10px;
  margin: 20px 0px;
}

.hero-img {
  object-fit: cover;
}

.details-container h2 {
  padding-top: 16px;
}

#search-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

#search-results div {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  perspective: 1000px;
}

#search-results div:hover {
  transform: rotateY(10deg) rotateX(10deg);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

#search-results h2 {
  font-size: 20px;
  margin-bottom: 14px;
}

#search-results p {
  font-size: 14px;
  margin: 8px 0;
}

#clear-btn {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

#clear-btn-container {
  margin: 20px;
  text-align: center;
}

/* Mission Section */

#mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 400px;
  padding: 20px 10px;
  margin-bottom: 80px;
}

#mission-section h2 {
  font-size: 30px;
}

.mission-para {
  max-width: 600px;
  margin-top: 20px;
}

/* Stories section */

#stories-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stories-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

#stories-section h3 {
  font-size: 24px;
}

.story-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 80px 0px;
}

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 400px;
  padding: 20px 10px;
  margin: 80px 0px;
}

.contact-container {
  display: flex;
  gap: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.contact-item p {
  font-size: 14px;
}

#fundraiser-organizer {
  margin-bottom: 30px;
  background: lightpink;
  display: inline-block;
  padding: 12px 10px;
  border-radius: 4px;
}

.fundraiser-city {
  display: flex;
  gap: 8px;
  align-items: center;
}

.fundraiser-details{
  display: flex;
  justify-content: space-between; 
}


progress {
  width: 100%;
  height: 15px;
  appearance: none;
  margin: 20px 0px;
}

progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 25px;
}
progress::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 25px;
}
progress::-moz-progress-bar {
  background-color: #4caf50;
  border-radius: 25px;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  max-width: 60%;
  margin: 20px 0px;
}

#fundraiser-category{
  margin-bottom: 20px;
}