.container {
  max-width: 1050px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.list-item {
  list-style: none;
  list-style-type: none;
  margin-left: 30px;
}

.list-item a {
  color: #000;
  text-decoration: none;
}

